<!doctype html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
<div>
    <form action="/logout" method="post">
        <input type="submit" value="Выйти"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    </form>
</div>
<div>
    <form action="/main/add" method="post">
        <input type="text" name="text" placeholder="Введите сообщение"/>
        <input type="text" name="tag" placeholder="Введите таг"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <button type="submit">Отправить</button>
    </form>
</div> <br/>
    <div>Список сообщений</div>
    <div>
        <form action="/main/filter" method="post">
            <input type="text" name="sort" placeholder="Введите тэг">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <button type="submit">Сортировать</button>
        </form>
    </div>
    {{#messages}}
        <div>
            <b>{{id}}</b>
            <b>{{text}}</b>
            <b>{{tag}}</b>
            <b>{{authorName}}</b>
    {{/messages}}
        </div>
</body>
</html>