<!doctype html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
Новый пользователь
{{#message}}
    {{message}}
{{/message}}
<form action="/registration" method="post">
    <div><label for="">Введите логин <input type="text" name="username" placeholder="Логин"></label></div>
    <div><label for="">Введите пароль <input type="password" name="password" placeholder="Пароль"></label></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <button type="submit">Добавить</button>
</form>
</body>
</html>